WORDPRESS_ROOT=/home/Luis77/projetos-meus/wordpress/wordpress
DB_PASSWORD=
DB_ROOT_PASSWORD=
WP_ADMIN_PASSWORD=
GALVANI_API_TOKEN=
GALVANI_NOTIFY_EMAIL=galvanistudio1@gmail.com
# Local: captura mensagens em http://localhost:8025, sem envio à internet.
GALVANI_SMTP_HOST=mailpit
GALVANI_SMTP_PORT=1025
GALVANI_SMTP_SECURITY=none
GALVANI_SMTP_USER=
GALVANI_SMTP_PASSWORD=
GALVANI_MAIL_FROM=galvanistudio1@gmail.com
